@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Francois One', sans-serif;
    /*background: #0a7d73;*/
    color: #FFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='2000' preserveAspectRatio='none' viewBox='0 0 1800 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1800' height='2000' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M900 2336.3C1241.7 2303.76 1524.34 2109.22 1778.22 1878.22 2049.44 1631.45 2343.81 1365.84 2368.6 1000 2394.54 617.23 2201.52 238.64 1905.86-5.86 1631.51-232.7 1255.81-203.29 900-214.45 525.73-226.18 90.83-338.65-171-71-432.05 195.87-289.42 626.68-288.03 1000-286.63 1370.91-409.48 1785.84-163.04 2063.04 89.68 2347.32 521.34 2372.34 900 2336.3' fill='%233c0776'%3e%3c/path%3e%3cpath d='M900 1864.67C1121.1 1843.61 1303.99 1717.73 1468.26 1568.26 1643.75 1408.58 1834.23 1236.72 1850.27 1000 1867.05 752.32 1742.16 507.35 1550.85 349.15 1373.33 202.37 1130.23 221.4 900 214.18 657.82 206.59 376.42 133.82 207 307 38.08 479.68 130.37 758.44 131.28 1000 132.18 1240 52.69 1508.49 212.15 1687.85 375.67 1871.79 654.99 1887.99 900 1864.67' fill='%23593b99'%3e%3c/path%3e%3cpath d='M900 1393.03C1000.5 1383.46 1083.63 1326.24 1158.3 1258.3 1238.07 1185.72 1324.65 1107.6 1331.94 1000 1339.57 887.42 1282.8 776.07 1195.84 704.16 1115.15 637.44 1004.65 646.09 900 642.81 789.92 639.36 662.01 606.28 585 685 508.22 763.49 550.17 890.2 550.58 1000 550.99 1109.09 514.86 1231.13 587.34 1312.66 661.67 1396.27 788.63 1403.63 900 1393.03' fill='%233c0776'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1800' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        /*noinspection CssInvalidPropertyValue*/
        height: -webkit-fill-available;
    }
}

